#advertisement{
    width: 80%;
    margin: 0 auto;

}
.ad_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
 
}
.ad_container .ad_items,
.ad_container .ad_items_{
    width: 500px;
    height: 320px;
    border-radius: 10px 100px 10px 100px;
    background-color: var(--some-cards_color);
    color: white;
    padding: 2rem;
}
.ad_items .ad_title{
    display: flex;
    gap: 20px;
}
.ad_title .icon i{
font-size: 2rem;
}
.ad_title .info{
    font-size: 1.5rem;
}
.ad_main_info{
    font-size: 2rem;
    width: 55%;
    font-weight: 600;
}
.ad_des{
    margin-top: 10px;
}
.ad_items .ad_btn,
.ad_items .ad_btn_{
    width: 200px;
    height: 40px;
    text-align: center;
    position: relative;
    left: 30px;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-color: var(--main-color);
    color: white;
    
}
.ad_container .ad_items_{
    background-color: var(--main-color);
}
.ad_items .ad_btn_{
    background-color: var(--some-cards_color);
}