#advertisement{
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    #advertisement {
        width: 90%;
    }
}

.ad_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.ad_container .ad_items,
.ad_container .ad_items_{
    flex: 1 1 450px;
    min-height: 320px;
    border-radius: 10px 100px 10px 100px;
    background-color: var(--some-cards_color);
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ad_items .ad_title{
    display: flex;
    gap: 20px;
    align-items: center;
}

.ad_title .icon i{
    font-size: 2rem;
}

.ad_title .info{
    font-size: 1.5rem;
}

.ad_main_info{
    font-size: 2rem;
    width: 100%;
    max-width: 300px;
    font-weight: 600;
    margin-top: 10px;
}

.ad_des{
    margin-top: 10px;
}

.ad_items .ad_btn,
.ad_items .ad_btn_{
    width: fit-content;
    padding: 0 30px;
    height: 40px;
    text-align: center;
    margin-top: 1.5rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.ad_container .ad_items_{
    background-color: var(--main-color);
}

.ad_items .ad_btn_{
    background-color: var(--some-cards_color);
}

@media screen and (max-width: 600px) {
    .ad_container .ad_items,
    .ad_container .ad_items_ {
        flex: 1 1 100%;
        border-radius: 10px 50px 10px 50px;
        padding: 1.5rem;
    }
    
    .ad_title .info {
        font-size: 1.2rem;
    }
    
    .ad_main_info {
        font-size: 1.5rem;
    }
    
    .ad_items .ad_btn,
    .ad_items .ad_btn_ {
        width: 100%;
    }
}