#banner_section {
    width: 80%;
    max-width: 1440px;
    margin: 6rem auto;
}

@media screen and (max-width: 1024px) {
    #banner_section {
        width: 90%;
        margin: 3rem auto;
    }
}

.banner_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #fff;
    box-shadow: 0px 4px 4px 2px lightgray;
    padding: 2rem;
    border-radius: 10px;
    align-items: center;
}

.banner_info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.banner_info .discount {
    width: fit-content;
    height: auto;
    box-shadow: 0px 2px 4px 2px var(--main-color);
    border-radius: 10px;
    padding: 4px 1rem;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    color: var(--main-color);
}

.banner_info .banner_title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-color);
}

.banner_info .banner_buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.banner_buttons .btn {
    font-weight: 600;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 2px lightgray;
    cursor: pointer;
    transition: .5s ease;
    padding: 10px 20px;
}

.banner_buttons .btn:first-child {
    background-color: var(--some-cards_color);
}
.banner_buttons .btn:first-child:hover{
    background-color: white;
    color: var(--some-cards_color);
    box-shadow: 0px 4px 4px 2px var(--some-cards_color);
}
.banner_buttons .btn:last-child {
    background-color: white;
    color: var(--main-color);
}
.banner_buttons .btn:last-child:hover{
    background-color: var(--main-color);
    color: white;
    box-shadow: 0px 4px 4px 2px var(--main-color);
}

.banner_img {
    flex: 0 0 450px;
    height: 400px;
}

.banner_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width:1024px) {
    .banner_container{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    
    .banner_info {
        align-items: center;
    }
    
    .banner_info .banner_title {
        font-size: 2rem;
    }
    
    .banner_img {
        flex: 0 0 auto;
        width: 100%;
        height: auto;
        max-width: 450px;
    }
}

@media (max-width:576px) {
    .banner_info .banner_title {
        font-size: 1.5rem;
    }
    
    .banner_buttons {
        justify-content: center;
    }
    
    .banner_buttons .btn {
        width: 100%;
    }
    
    .banner_img {
        max-width: 300px;
    }
}