
#faq .title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

#faq .subtitle {
    color: gray;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

#faq {
    width: 80%;
    margin: 6rem auto;
    max-width: 1440px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    #faq {
        width: 90%;
        margin: 4rem auto;
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {
    #faq .title {
        font-size: 28px;
    }
    .subtitle {
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    #faq {
        width: 95%;
        padding: 20px;
    }
    .faq-item label {
        padding: 15px;
        font-size: 14px;
    }
}

.faq-item {
    margin-bottom: 2rem;
}

/* Hide checkbox */
.faq-item input {
    display: none;
}

.faq-item label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ff8c32;
    padding: 18px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    background: #fff;
}

/* Arrow */
.arrow {
    width: 12px;
    height: 12px;
    border-right: 3px solid #ff8c32;
    border-bottom: 3px solid #ff8c32;
    transform: rotate(45deg);
    transition: 0.3s;
}

/* Answer content */
.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding: 0 20px;
    color: #555;
}

/* Open state */
.faq-item input:checked ~ .faq-content {
    max-height: 200px;
    padding: 15px 20px;
}

.faq-item input:checked + label .arrow {
    transform: rotate(-135deg);
}
