#footer_section{
    width: 100%;
    background-color: var(--main-color);
    color: white;

}
.footer_container{
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
    padding-top: 2rem;

}
.footer_container .footer_title,
.footer_subtitle{
    text-align: center;
}
.footer_container .footer_title{
    font-size: 28px;
    margin-bottom: 2rem;
}
.footer_subtitle{
    letter-spacing: 1px;
}
.footer_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 30px;
    flex-wrap: wrap;
}
.footer_contact .contact_input{
    width: 700px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid  #808080;
    background-color: #292971;
    padding: .5rem;
}
.contact_input input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
}
.contact_input input::placeholder{
    letter-spacing: 1px;
    color: white;
}
.contact_input input:focus{
    color: white;
}
.footer_contact .contact_btn .btn{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--some-cards_color);
    font-weight: 600;
    color: white;
    border: none;
    transition: .3s ease;
    font-size: 17px;

}
.contact_btn .btn:hover{
    cursor: pointer;
}
.footer_line{
    width: 100%;
    height: .5px;
    background-color: #fff;
    margin-top: 2rem;
}
.footer_main_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 2rem;
    gap: 60px;
    flex-wrap: wrap;
}

.footer_main_info .main_info_items{
    flex: 1 ;
}
.footer_main_info .items1{
    margin-right: 30px;
}
.footer_main_info .items1 .item_title{
display: flex;
align-items: center;
justify-content: start;
gap: 20px;
margin-bottom: 1rem;
}
.footer_main_info  .items1 .item_title .item_logo img{
    width: 56px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.footer_main_info  .items1 .item_title .logo_info{
    font-size: 20px;
    font-weight: bold;
}

.footer_main_info  .items1 .item_socials{
display: flex;
align-items: center;
gap: 40px;
margin-top: 2rem;
}
.items1 .item_socials .social_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height:40px;
    border: 1px solid #808080;
    border-color: #292971;
    color: gray;
    font-size: 1.49rem;
    border-radius: 10px;
    transition: .5s ease;
}
.item_socials .social_icons:hover i{
    color: white;
}
.footer_main_info .item_title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2rem;
    
}
.main_info_items .item_links{
    color: gray;
    margin-bottom: 1rem;
    transition: .3s ease;
    
} 
.main_info_items .item_links:hover {
    color: white;
    
}
.footer_main_info .items4{
    /* margin-left: 60px; */
}
.footer_main_info .items4 .item_links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.items4 .item_links .item_icon_ i{
    font-size: 1.4rem;
}
.footer_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: gray;
    cursor: pointer;
    transition: .5s ease;
}
.footer_bottom .left:hover,
.footer_bottom .right:hover{
    color: white;
}
@media (min-width:220px) and (max-width:730px){
   .footer_contact{
    padding: 1rem;
    
   }
   .footer_contact .contact_btn .btn{
    font-size: 16px;
   } 
}