#locations_section{
    width: 80%;
    max-width: 1440px;
    margin: 6rem auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 2px lightgray;
}

@media screen and (max-width: 1024px) {
    #locations_section {
        width: 90%;
        margin: 4rem auto;
    }
}

@media screen and (max-width: 768px) {
    .locations_container {
        padding: 1.5rem;
    }
    .locations_container .locations_title {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    #locations_section {
        width: 95%;
        margin: 3rem auto;
    }
    .locations_container {
        padding: 1rem;
    }
    .locations_card .left_location {
        height: 250px;
    }
}
.locations_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.locations_container .locations_title{
    font-size: 36px;
    font-weight: 600;
    color: var(--main-color);
    text-align: center;
}
.locations_container .locations_subtitle{
    text-align: center;
    color: gray;
    margin-top: 2rem;
}
.locations_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.locations_card .right_info{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    justify-content:flex-start;
    gap: 30px;
    color: var(--main-color);
}
.right_info .right_info_item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.right_info_item .info_icon i{
    color: gray;
    font-size: 1.4rem;
}
.locations_card .left_location{
    flex: 2;
    /* width: 625px; */
    height: 340px;

}
.left_location iframe{
    width: 100%;
    height: 100%;
}
@media (min-width:220px) and (max-width:820px){
    .locations_card{
        flex-direction: column;
        gap: 2rem;
    }
}