#locations_section{
    width: 80%;
    margin: 8rem auto;
}
.locations_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.locations_container .locations_title{
    color: var(--main-color);
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}
.locations_container .locations_subtitle{
    text-align: center;
    color: gray;
}

.locations_container .main_store{
    display: flex;
    align-items: start;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0px 4px 4px 2px lightgray;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 3rem;
}
.main_store .store_info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
} 
.store_info .store_info_des{
    display: flex;
    align-items: center;
    gap: 20px;
}
.store_info_des .info_des_icon{
    font-size: 1.4rem;
    color: gray;
}
.store_info_des .info_des_more{
    color: var(--main-color);
    transition: .5s ease;
}
.store_info_des:last-child .info_des_icon img {
width: 40px;
height: 40px;
object-fit: cover;
}
.store_info_des:last-child .info_des_more:hover{
    color: var(--some-cards_color);
}
.main_store .store_img{
    flex: 1;
}

.main_store .store_img img{
    width: 100%;
}
/* other stores */
.store_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    /* padding: 2rem; */

}
.store_list .store_items{
    flex: 1;
    background-color: #fff;
    box-shadow: 0px 4px 4px 2px lightgray;
    border-radius: 10px;
}
.store_items .store_img img{
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.store_list .store_items .store_info{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width:220px) and (max-width:1024px) {
    .locations_container .main_store{
        flex-direction: column-reverse;
    }
    .locations_container .store_list{
        flex-direction: column;
    }
}