#main_products_section{
    width: 80%;
    margin: 6rem auto;
}

@media screen and (max-width: 1024px) {
    #main_products_section {
        width: 90%;
        margin: 4rem auto;
    }
}

.main_products_container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.main_products_container .products_filter{
    flex: 0 0 300px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 4px 4px 2px lightgray;
    padding: 2rem;
    border-radius: 10px;
    position: sticky;
    top: 20px;
}

.price_inputs .left input{
    width: 100%;
    max-width: 100px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid gray;
}

.price_range .p_line{
    flex: 1;
    height: 3px;
    background-color: var(--some-cards_color);
}

@media (max-width: 1024px) {
    .main_products_container {
        flex-direction: column;
    }
    
    .main_products_container .products_filter {
        flex: 1 1 100%;
        width: 100%;
        position: static;
        height: auto;
    }
    
    .main_products_container .products_part {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .products_part .products_items .products_card {
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 576px) {
    .products_part .products_items .products_card {
        flex: 0 0 100%;
    }
}

/* related_products_section */
#related_products_section{
    width: 80%;
    margin: 6rem auto;
}
.related_products_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.related_products_title {
    text-align: center;
    color: var(--main-color);
    font-weight: 600;
    font-size: 36px;
}
.related_products_list{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.related_products_list .products_card{
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 2px lightgray;
}
/* related_products_section end */