#products_section{
    width: 80%;
    margin: 10rem auto;
}
.products_container{
    width: 100%;

}
.products_title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
.products_title .info{
    font-size: 30px;
    font-weight: 600;
    color: var(--main-color);

}
.products_title .view_products{
    width: 250px;
    height: 50px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    text-align: center;
    padding: 10px ;
    font-weight: 600;
    color: var(--main-color);
    transition: .5s ease;
}
.view_products:hover{
    color: var(--some-cards_color);
}
.products_items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
    gap: 20px;


}
.products_items .products_card{
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 350px; */
    flex: 1 ;
    /* height: 500px; */
    background-color: #fff;
    box-shadow: 0px 4px 4px 2px lightgray;
    border-radius: 10px;
}
.products_card .card_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}
.products_card .card_img img{
    width: 100%;
    height: 155%;
    object-fit:cover;
 
}
.item_icon_group{
    /* position: absolute; */
    /* top: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 20px;
    
}
.item_icon_group .status{
    width: 100px;
    height: 28px;
    text-align: center;
    color: var(--some-cards_color);
    background-color: #fff;
    box-shadow: 0px 4px 4px 2px lightgray;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    z-index: 100;

}
.item_icon_group .item_icon{
    font-size: 1.6rem;
    position: absolute;
    top: 10px;
    z-index: 100;
    right: 30px;
}
.item_info{
    padding: 1.2rem;
    position: relative;
    top: -40px;
}
.item_info .item_info_title{
    font-weight: 600;
    font-size: 22px;

}
.item_info .itemPriceAndRate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.item_info .itemPriceAndRate .price{
    font-weight: 600;
    font-size: 20px;
}
.price .lined{
    color: gray;
    font-size: 18px;
    text-decoration: line-through;
    font-weight: 500;
  
}
.item_info .rate{
    display: flex;
    align-items: center;
    gap: 10px;
}
.rate .start_rate i{
color: orange;
}
.rate .rate_num{
    font-size: 18px;
    color: gray;
}
.item_info .howManyLeft{
    margin-top: 1rem;
   display: flex; 
   flex-direction: row;
   gap: 10px;

}
.item_info .item_button .btn{
    width: 100%;
    
    height: 40px;
    background-color: var(--some-cards_color);
    color: white;
    font-weight: 600;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    transform: translateY(20px);
}
@media  (min-width:220px)and (max-width:903px)  {
    .products_title{
        flex-direction: column;
        font-size: 14px;
    }
    .products_items .products_card{
        width: 300px;
    }
}